<% if(error) { %>
    <h3 style="color:red;"><%= error %></h3>
<% } %>
<% if(success) { %>
    <h3 style="color:green;"><%= success %></h3>
<% } %>
<% if(info) { %>
    <h3 style="color:blue;"><%= info %></h3>
<% } %>