<%- include("components/header")%>
    <a href="/" title="home">Home</a> &gt; Add
    <hr/>
    <form method="POST">
        <label for="git">Git: </label><input type="text" id="git" name="git"></input><br/>
        <label for="name">Name: </label><input type="text" id="name" name="name"></inpu><br/>
        <label for="email">Email: </label><input type="text" id="email" name="email"></input><br/>
        <input type="submit" value="Add"></input>
    </form>
<%- include("components/notification")%>
<%- include("components/gitsTable")%>
<%- include("components/footer")%>