<%- include("components/header")%>
    <h1>Hello World</h1>
    <ul>
        <li><a href="/add">Add</a></li>
        <li><a href="/find">Find</a></li>
        <li><a href="/remove">Remove</a></li>
    </ul>
<%- include("componets/gitsTable")%>
<%- include("components/footer")%>
