<%- include("components/header")%>
    <h1>Hello World</h1>
    <ul>
        <li><a href="/gits/add">Add</a></li>
        <li><a href="/gits/find">Find</a></li>
        <li><a href="/gits/remove">Remove</a></li>
    </ul>
<%- include("components/notification")%>
<%- include("components/gitsTable")%>
<%- include("components/footer")%>
