<html>

<head>
    <meta charset="utf8" />
</head>

<title>
    Hello World
</title>

<body>
    <a href="/index" title="home">Home</a> &gt; Remove
    <hr/>
    <form action="/remove" method="POST">
        <label for="email">Email: </label><input type="text" id="email" name="email" value="<%= email %>"></input>
        <input type="submit" value="Remove"></input>
    </form>
    <% if(error) { %>
        <h3>
            <%= error %>
        </h3>
    <% }%>
</body>

</html>