<%- include("components/header")%>
    <a href="/" title="home">Home</a> &gt; Remove
    <hr/>
    <form method="POST">
        <label for="email">Email: </label><input type="text" id="email" name="email" value="<%= email %>"></input>
        <input type="submit" value="Remove"></input>
    </form>
<%- include("components/notification")%>
<%- include("components/footer")%>